Hola, revisa los siguientes links:
<!--
      { path: 'ui-ux-tech', component: UiUxDesignComponent },
      { path: 'software-developer', component: SoftwareDeveloperComponent },
      { path: 'data-analyst', component: DataAnalystComponent },
      { path: 'solutions-architect', component: SolutionsArchitectComponent },
      { path: 'impact-generalist', component: ImpactGeneralistComponent },
      { path: 'cx-practitioner', component: CxPractitionerComponent },-->
<a href="yo-como/product-owner">Analista de Producto | Product Owner Jr.</a>
