<div class="row mt-4">
  <div class="col-12 col-md-6">
    <h4 class="h4 mt-3">{{ t('data.exploreRolesTitle') }}</h4>
    <div class="d-flex flex-wrap gap-2 mt-2">
      <a class="btn btn-sm btn-primary" routerLink="/mis/datos">{{ t('data.roles.all') }}</a>
      <a class="btn btn-sm btn-outline-secondary" routerLink="/yo-como/persona">{{ t('data.roles.persona') }}</a>
      <a class="btn btn-sm btn-outline-secondary" routerLink="/yo-como/kusillo">{{ t('data.roles.kusillo') }}</a>
      <a class="btn btn-sm btn-outline-secondary" routerLink="/yo-como/ui-ux-tech">{{ t('data.roles.uiUxTech') }}</a>
      <a class="btn btn-sm btn-outline-secondary" routerLink="/yo-como/software-developer">{{ t('data.roles.softwareDeveloper') }}</a>
      <a class="btn btn-sm btn-outline-secondary" routerLink="/yo-como/data-analyst">{{ t('data.roles.dataAnalyst') }}</a>
      <a class="btn btn-sm btn-outline-secondary" routerLink="/yo-como/product-owner">{{ t('data.roles.productOwner') }}</a>
      <a class="btn btn-sm btn-outline-secondary" routerLink="/yo-como/solutions-architect">{{ t('data.roles.solutionsArchitect') }}</a>
      <a class="btn btn-sm btn-outline-secondary" routerLink="/yo-como/impact-generalist">{{ t('data.roles.impactGeneralist') }}</a>
      <a class="btn btn-sm btn-outline-secondary" routerLink="/yo-como/cx-practitioner">{{ t('data.roles.cxPractitioner') }}</a>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="d-flex flex-wrap gap-2 mt-2">
      <p class="small mb-0">
        {{ t('data.rolesHelper') }}
        <button type="button" class="btn btn-link p-0 align-baseline" data-bs-toggle="modal" data-bs-target="#shareModal">
          <i class="bi bi-share-fill"></i>
        </button>
      </p>
    </div>
  </div>
</div>
