<section class="home-contents container-fluid" aria-label="featured contents">
	<div class="row">
		<article class="col-12 col-md-4 col-lg-3">
			<app-content-text title="Work In progress" subtitle="All of this page is under construction" [link]="'home#'" >
				<p>This site is still a work in progress. Feel free to look around, but you may run into bugs, broken links, or half-formed ideas I'm still working through.</p>
			</app-content-text>
		</article>

		<!--
			<article class="col-12 col-md-4 col-lg-3">
				<app-content-image [file]="'realistic-heart.gif'" img-alt="Realistic heart GIF" [link]="'home#'"></app-content-image>
			</article>
		-->

		<article class="col-12 col-md-4 col-lg-3">
			<app-content-text title="This page TODOS" subtitle="Things I must do" [link]="'home#'">
				<p></p>
			</app-content-text>
		</article>
		<article class="col-12 col-md-4 col-lg-3">
			<app-content-text title="This page" subtitle="A magazine full of myself" [link]="'home#'">
				<p></p>
			</app-content-text>
		</article>
		<article class="col-12 col-md-4 col-lg-3">
			<app-content-text title="This page TODOS" subtitle="Things I must do" [link]="'home#'">
				<p></p>
			</app-content-text>
		</article>
		<article class="col-12 col-md-4 col-lg-3">
			<app-content-text [is-cta]="true" title="Call to Action (My Info!)" subtitle="Things I must do" [link]="'home#'">
				<p>This is my CTA!</p>
			</app-content-text>
		</article>
		<article class="col-12 col-md-4 col-lg-3">
			<app-content-text title="All of my articles" subtitle="My own blog" [link]="'home#'">
				<p>Hola</p>
			</app-content-text>
		</article>
	</div>
</section>
