<div class="container">
	<div class="row">
		<div class="col-12 col-md-4 col-lg-3">
			<app-content-text title="test" subtitle="this is a test, pon tu maus aqui para ver una imagen" [link]="'home#'" [image]="'realistic-heart.gif'" [img-width]="40">
				<p>este es el contenido de mi componente de testing</p>
			</app-content-text>
		</div>
		<div class="col-12 col-md-4 col-lg-3">
			<app-content-image [file]="'realistic-heart.gif'" img-alt="Realistic heart GIF" [link]="'home#'"></app-content-image>
		</div>
		<div class="col-12 col-md-4 col-lg-3">
			<app-content-text title="third test" subtitle="this is another test, pon tu maus aqui para ver el texto en grande" [link]="'home#'">
				<p>este es el contenido de mi componente de testing</p>
			</app-content-text>
		</div>
	</div>
</div>
